<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <title>姓名案例-简写计算属性实现</title>
</head>
<body>
<div id="app">
  <p><label>姓：<input type="text" v-model="firstName"></label></p>
  <p><label>名：<input type="text" v-model="lastName"></label></p>
  <p>全名：<strong>{{fullName}}</strong></p>
</div>
<script src="../../lib/vue.js"></script>
<script>
  new Vue({
    el: '#app',
    data: {
      firstName: '',
      lastName: ''
    },
    computed: {
      fullName() {
        return this.firstName + '-' + this.lastName
      }
    }
  })
</script>
</body>
</html>